html
   head
      title Protected page
   body
      div Hey #{id}, How are you doing today?
      div This are the existing details in your unprotected session: #{Object.keys(sessiondetails)}
      div Want to log out?
      div Logout
